@model MyFan_Webapp.Areas.Bands.Models.BandProfileViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dashboard</title>
</head>
<body>
    <div> 
        <h1>@Model.Info</h1>



    </div>
</body>
</html>
