html, body {
    height:100%;
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.margin-bottom {
    margin-bottom: 15px;
}
//Fan Register Page
#profile-pic{
            height:150px;
            width:150px;
 }
#imgInp{
    display: none;
}
//Band Register Page
#field {
    margin-bottom:10px;
}
.input{
          width:90%;
          float:left;
              margin-top: 5px;
      }
      .controls{
          width:72%;
          float: right;
          
      }
.remove-me{
    margin-top: 5px;
}
.add-more{
    margin-top:5px;
}