img {
    height:240px;
    width:240px;
}
.info-profile {
    margin-left:0.666667%;
}
#profile-pic {
        height:150px;
    width:150px;
}
.post-title img{
        height:130px;
    width:130px;
    float:right;
}
.post-box {
    height: 150px;
}
#album-pic {
            height:260px;
    width:260px;
}
#album-pic-index{
            height:180px;
    width:180px;
}
.right-section {
    margin-left:60px;
}
.img-calif{
            height:50px;
    width:50px;
    float:right;
}
.reviews{
    margin-left:25px;

}
.review-row{
    margin-bottom:20px;
}