@model MyFan_Webapp.Areas.Fans.Models.FanProfileViewModel
@{
    Layout = "~/Areas/Fans/Views/Shared/_FanProfileLayout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <title>MyFan</title>
</head>

<body>


    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">News & Events</h2>

        <!-- Post -->
        @foreach (var Post in Model.Posts)
            {
            <div class="col-lg-8 center-block no-float">
                <div class="post-box">
                    <div class="row">
                        <div class="col-xs-10 post-title">
                            <h2><u>@Post.Title</u></h2>
                        </div>
                        <div class="col-xs-2 post-date">
                            <h5>@Post.Date</h5>
                        </div>
                    </div>
                    <div class="row post-content">
                        <div class="post-text">@Post.Content</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 post-read-more">
                            @if (@Post.Type == 1)
                            {
                                <a href="~/Fans/@Model.Id/Bands/@Post.OwnerId/News/@Post.Id"><small>Read more...</small></a>
                            }
                            else
                            {
                                <a href="~/Fans/@Model.Id/Bands/@Post.OwnerId/Events/@Post.Id"><small>Read more...</small></a>
                            }
                            
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>



</body>

</html>
