
@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Fans/Views/Shared/_FanProfileLayout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <title>MyFan</title>
</head>

<body>

    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">My Profile</h2>

        
    </div>



</body>
</html>
