@model MyFan_Webapp.Areas.Bands.Models.BandProfileViewModel

@{
    ViewBag.Title = "Crear";
    Layout = "~/Areas/Bands/Views/Shared/_BandProfileLayout.cshtml";
}

<head>
    <!-- jQuery Validate -->
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
    <!-- Style -->
    <link crossorigin="anonymous" href="~/assets/common/css/foms/Register.css" rel="stylesheet">
    <script src="~/assets/common/js/Processing.js"></script>
    <script src="~/assets/common/js/forms/NewCreateForm.js"></script>
    <link rel="stylesheet" href="~/assets/common/css/Profile.css">


</head>

<body>
    <!-- Post-Section -->
    <div id="post-section" class="row">
        <h2 class="post-header">News</h2>
        <div class="row">
            <div class="col-md-10">

                <form id="form-new-new" class='form-horizontal'>
                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputAlbumName">Title:</label>
                        </div>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" placeholder="New Title" value="@Model.New.Title" name="NewTitle" id="NewTitle" disabled/>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-3 text-right">
                            <label for="inputContent">Article:</label>
                        </div>
                        <div class="col-xs-9">
                            <div class="form-group">
                                <textarea class="form-control" rows="10" name="NewContent" placeholder="Article" id="inputContent" disabled>@Model.New.Content</textarea>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-offset-5 col-xs-2">
                                <button id="post-event" type="button" class="btn btn-success">Update</button>
                            </div>
                            <div class="col-xs-2">
                                <a href="~/" class="btn btn-danger">Delete</a>
                            </div>
                            <div class="col-xs-2">
                                <a href="~/" class="btn btn-primary">Cancel</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</body>



