@model MyFan_Webapp.Areas.Fans.Models.BandProfileViewModel
@{
    Layout = "~/Areas/Bands/Views/Shared/_BandProfileLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
