@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>

<head>
    <!-- Style -->
    <link href="~/assets/common/css/foms/Login.css" rel="stylesheet" type="text/css">
    <title>MyFan</title>
</head>

<body>
    <div class="container">
        <div class="col-xs-4 col-xs-offset-4">

            
            @using (Html.BeginForm("Login","Login", FormMethod.Post, new { @class = "form-horizontal" }))
            {
            <!--<form class="form-signin">-->
                <img class="img-responsive" src="~/assets/common/img/logo2.png">
                <br>
                <label for="inputEmail" class="sr-only">Username</label>
                <input type="text" name="inputUsername" class="form-control" placeholder="Username" required autofocus>
                <br>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required>
                <br>
                <button class="btn btn-primary btn-block" type="submit">Login</button>
                <br />
                <div class="row">
                    <div class="col-xs-6">
                        <a href="~/register/fan" class="btn btn-success btn-block">Register Fan</a>
                    </div>
                    <div class="col-xs-6">
                        <a href="~/register/band" class="btn btn-danger btn-block">Register Band</a>
                    </div>
                  </div>
                <h4>@ViewBag.Message</h4>
            
     <!-- </form> -->
            }
        </div>
            
    </div>
</body>

</html>
